<!DOCTYPE html>
<html lang="en">

<%- include ('partials/Head') %>

    <body>
        <%- include ('partials/Header') %>
            <main>
                <div class="cart">
                    <h2>MI COMPRA</h2>

                    <article class="cart_art">
                        <img src="https://github.com/FacundoOR/Rosas-ERE/blob/main/WEB/BARRA.jpg?raw=true" alt="barra"
                            width="100px" height="150px">
                        <p>Caja 10 barras de cereal arandanos 45g</p>
                        <div class="cantidad">
                            <img src="https://cdn-icons-png.flaticon.com/512/3303/3303893.png" alt="" width="20px"
                                height="20px">
                            <p>1</p>
                            <img src="https://cdn-icons-png.flaticon.com/512/2740/2740679.png" alt="" width="22px"
                                height="22px">
                        </div>
                        <div class="precio">
                            <p>$999</p>
                            <button>Eliminar</button><br>
                            <button>Guardar</button>
                        </div>
                    </article>
                    <article class="cart_art">
                        <img src="https://github.com/FacundoOR/Rosas-ERE/blob/main/WEB/BARRA.jpg?raw=true" alt="barra"
                            width="100px" height="150px">
                        <p>Caja 10 barras de cereal chocolate 45g</p>
                        <div class="cantidad">
                            <img src="https://cdn-icons-png.flaticon.com/512/3303/3303893.png" alt="" width="20px"
                                height="20px">
                            <p>2</p>
                            <img src="https://cdn-icons-png.flaticon.com/512/2740/2740679.png" alt="" width="22px"
                                height="22px">
                        </div>
                        <div class="precio">
                            <p>$999</p>
                            <button>Eliminar</button> <br>
                            <button>Guardar</button>
                        </div>
                    </article>

                    <div class="total">
                        <h2>TOTAL:</h2>
                        <h2>$1.998</h2>
                    </div>
                    <div class="comprar">
                        <input type="button" value="COMPRAR" class="comprar1">
                    </div>


                </div>

            </main>
            <%- include ('partials/Footer') %>

    </body>

</html>